* {
    margin: 0px;
}

p {
    border: 1px solid;
    width: 25%;
    border-color: rgb(190, 153, 29);
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 3px;
}

ul {
    text-align: end;
}

li {
    display: inline;
    border: 1px solid;
    padding: 5px;
    margin: 0px 10px;

}